@import 'styles/common.scss';

.Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 32px;
  padding: 0 $padding-small;
  background: #272420;
  color: white;
}
